
[CONFIGURATION]

  [GENERAL]
	Number of threads:	 8
	Index first sample:	 0
	Number of samples:	 47296
	Total number traces:	 200
	Target number traces:	 200
	Total number keys:	 256
	Attack order:		 1
	Return Type:		 d
	Window size:		 0
	Algorithm:		 AES
	Round:			 0
	Bytenum:		 all
	Target all bits individually.
	Secret Key:		 0x2b 7e 15 16 28 ae d2 a6 ab f7 15 88 09 cf 4f 3c 
	Memory:			 4.00GB
	Keep track of:		 20
	Separator :		 STANDARD

  [TRACES]
	Traces files:		 1
	Traces type:		 i
	Transpose traces:	 True
	Total number samples:	 47296
	Traces:
	1. mem_addr2_rw1_200_47296.trace	 [200x47296]

  [GUESSES]
	Guesses files:		 1
	Guesses type:		 u
	Transpose guesses:	 True
	Total columns guesses:	 16
	Guesses:
		1. mem_addr2_rw1_200_47296.input	 [200x16]

[/CONFIGURATION]

[INFO] File LUT/AES_AFTER_MULTINV not found, using /usr/local/share/daredevil/LUT/AES_AFTER_MULTINV instead.
[INFO] Lookup table specified at LUT/AES_AFTER_MULTINV

[ATTACK] Computing 1-order correlations...
[ATTACK] Key byte number 0

[ATTACK] Target bit number 0

[ATTACK] Target bit number 1

[ATTACK] Target bit number 2

[ATTACK] Target bit number 3

[ATTACK] Target bit number 4

[ATTACK] Target bit number 5

[ATTACK] Target bit number 6

[ATTACK] Target bit number 7

Best 10 candidates for key byte #0 according to sum(abs(bit_correlations)):
 1: 0x2b  sum: 2.59119   <==
 2: 0x99  sum: 2.50736 
 3: 0x63  sum: 2.46656 
 4: 0xb1  sum: 2.4532  
 5: 0xc2  sum: 2.44143 
 6: 0x72  sum: 2.44139 
 7: 0x36  sum: 2.44072 
 8: 0xee  sum: 2.43748 
 9: 0xc0  sum: 2.43717 
10: 0xaf  sum: 2.43716 

Best 10 candidates for key byte #0 according to highest abs(bit_correlations):
 1: 0x2b  peak: 0.499551  <==
 2: 0xd6  peak: 0.410513
 3: 0x1c  peak: 0.401201
 4: 0xaf  peak: 0.395158
 5: 0xc0  peak: 0.388463
 6: 0x36  peak: 0.373167
 7: 0x09  peak: 0.372011
 8: 0x87  peak: 0.370406
 9: 0x5e  peak: 0.370167
10: 0xbf  peak: 0.362972

[INFO] Attack of byte number 0 done in 18.176726 seconds.
Best bit: 5 rank: 0.        0.499551    0x2b    1271

[ATTACK] Key byte number 1

[ATTACK] Target bit number 0

[ATTACK] Target bit number 1

[ATTACK] Target bit number 2

[ATTACK] Target bit number 3

[ATTACK] Target bit number 4

[ATTACK] Target bit number 5

[ATTACK] Target bit number 6

[INFO] Total attack of file LUT/AES_AFTER_MULTINV done in 32.325176 seconds.

